.keyBox{

    display: grid;
    grid-template-columns: auto auto auto;
}
.keyPage-Container{
    width: 100%;
    margin: auto;
   display: flex;
   justify-content: center;

}
.oppBox{
    display: flex;
    flex-direction: column;
}
